@import "src/assets/scss/common/common.scss";

.main-wrap {
  input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transform: translateX(-500px) translateY(100px);
    font-size: 16px;
  }

  .list-wrap {
    position: relative;
    transform: translateX(0px) translateY(100px);
    width: 1400px;
    height: 670px;
    overflow-x: auto;
  }

  .title {
    color: #2e335d;
    transform: translateX(-550px) translateY(60px);
    width: 220px;
    height: 40px;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
  }
}
