.LoginPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #f7f7f7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.LoginTitle {
    margin-top: 87px;
    font-size: 26px;
    font-weight: 700;
    color: #262626;
}
.ContentWrap {
    margin-top: 26px;
    flex: 0;
}
.InputTitle {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}
.InputWrap {
    display: flex;
    border-radius: 15px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}
.InputWrap:focus-within {
    border: 1px solid #868afc;
}
.Input {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}
.Input::placeholder {
    color: #dadada;
}
.ErrorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}
.LoginButton {
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: #000120;
    border-radius: 64px;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
}
.LoginButton:disabled{
    background-color: #dadada;
    color: white;
}