.AllPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #252931;
}
.LoginPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #252931;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.LoginTitle {
    margin-top: 97px;
    font-size: 96px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.ContentWrap {
    margin-top: 26px;
    flex: 0;
}
.LoginInputWrap {
    display: flex;
    border-radius: 5px;
    padding: 16px;
    margin-top: 58px;
    margin-bottom: 58px;
    margin-left: 100px;
    background-color: #3A3F4A;
    border: 1px solid #3A3F4A;
    width: 600px;
    height: 35px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #1D1F25;
}
.PwInputWrap {
    display: flex;
    border-radius: 5px;
    padding: 16px;
    margin-top: -8px;
    margin-left: 100px;
    background-color: #3A3F4A;
    border: 1px solid #3A3F4A;
    width: 600px;
    height: 35px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #1D1F25;
}
.InputWrap:focus-within {
    border: 1px solid #868afc;
}
.Input {
    width: 865px;
    outline: none;
    border: none;
    height: 37px;
    font-size: 14px;
    font-weight: 400;
    border-color: #3A3F4A;
    background-color: #3A3F4A;
    color: #FFFFFF;
}
.Input::placeholder {
    font-size: 20px;
    color: #787878;
    background-color: #3A3F4A;
}
.Input:focus::placeholder {
    background-color: #3A3F4A;
}
.Login {
    /* border-top: 2px solid #3A3F4A; */
    margin-top: 70px;
}
.LoginButton {
    width: 630px;
    height: 72px;
    border: none;
    font-weight: 700;
    background-color: #41C982;
    border-radius: 5px;
    color: white;
    margin-bottom: 16px;
    margin-top: -10px;
    margin-right: 70px;
    cursor: pointer;
    float: right;
}
.LoginButton:disabled{
    background-color: #dadada;
    color: white;
    font-size: 25px;
}