.sideWrap {
    display: flex;
    width: 200px;
    height: 100vh;
    background-color: #343A47;
}

.sideM {
    width: 200px;
    height: 100vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 25px;
    font-weight: 400;
    align-items: center;
    color: #FFFFFF;
}

.moveWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 17px;
    width: 170px;
    height: 60px;
    background-color: #314162;
    border-left: 3px solid #41C982;
    line-height: 60px;
}

.moveWrap span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    text-align: center;
}

.moveWrap img {
    width: 35px;
    height: 35px;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1200px) {
    .sideWrap {
        width: 200px;
    }

    .sideM {
        width: 200px;
    }

    .moveWrap {
        width: 155px;
        height: 55px;
    }

    .moveWrap span {
        width: 70px;
    }

    .moveWrap img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 992px) {
    .sideWrap {
        width: 180px;
    }

    .sideM {
        width: 180px;
    }

    .moveWrap {
        width: 140px;
        height: 50px;
    }

    .moveWrap span {
        width: 60px;
    }

    .moveWrap img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .sideWrap {
        width: 160px;
    }

    .sideM {
        width: 160px;
    }

    .moveWrap {
        width: 120px;
        height: 45px;
    }

    .moveWrap span {
        width: 50px;
    }

    .moveWrap img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 576px) {
    .sideWrap {
        width: 140px;
    }

    .sideM {
        width: 140px;
    }

    .moveWrap {
        width: 100px;
        height: 40px;
    }

    .moveWrap span {
        width: 40px;
    }

    .moveWrap img {
        width: 18px;
        height: 18px;
    }
}
